services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    command: python -m uvicorn app.main:app --host 0.0.0.0 --port 8000
    container_name: app
    ports:
      - "8000"
    volumes:
      - .:/app
    depends_on:
      - mongo
  mongo:
    image: mongo:7.0
    container_name: app-db
    command:  ["mongod", "--quiet"]
    ports:
      - "27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
